<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cf.sqlTest.dao.mapper.TestZjfMapper">

    <resultMap id="testZjfMap" type="com.cf.sqlTest.dao.po.TestZjfPO">
            <result column="id" property="id"/>
            <result column="value" property="value"/>
    </resultMap>
</mapper>

