<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cf.sqlTest.dao.mapper.UserNumsMapper">

    <resultMap id="userNumsMap" type="com.cf.sqlTest.dao.po.UserNumsPO">
            <result column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="nums" property="nums"/>
            <result column="description" property="description"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>

